.header {
    background-color: #17181E;
    width: 100%;
    display: flex;

    &_content {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}