.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    border: 0;
    color: #fff;
    line-height: 1.15;

    &:hover {
        transition: all 0.2s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px  #2ECC71;
    }

    
    &:active{
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px  #2ECC71;
        transition: all 0.3s ease;
    }
    

    &:disabled {
        opacity: 0.5;
        box-shadow: none;
    }

}

.default {
    background: #3498DB;

    &:hover {
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px  #3498DB;
    }

    
    &:active{
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px  #3498DB;
    }
}

.approve {
    background:  #2ECC71;
}

.delete {
    background: #E74C3C;

    &:hover {
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px  #E74C3C;
    }

    
    &:active{
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px  #E74C3C;
    }
}

.small {
    padding: 8px 16px;
    font-size: 14px;
}

.medium {
    padding: 12px 24px;
    font-size: 16px;
}

.large {
    padding: 14px 28px;
    font-size: 20px;
}