.select {
    background-color: #EFF2F5;
    border: none;
    position: relative;
    line-height: 1.4;
    font-weight: 400;
    transition: all .2s ease;
    border-radius: 5px;
    appearance: none;
    background-image: url('../../../../assets/arrow_down.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    color: #333333;

    &:hover{
        box-shadow: 0 0 0 0 #fff inset, #A6B0C3 0 0 0 1px;
    }
    
    &:focus{
        outline: none;
        box-shadow: 0 0 0 0 #fff inset, #A6B0C3 0 0 0 2px;
    }
}

.small {
    font-size: 14px;
    padding: 8px 8px;
}

.medium {
    font-size: 16px;
    padding: 12px 12px;
}

.large {
    font-size: 20px;
    padding: 14px 14px;
    background-size: 20px 20px;

    &:focus{
        background-size: 20px 20px;
    }
}